
.bg-light{
    --bs-bg-opacity:1;background-color:rgba(255, 237, 178, 0.49)!important;
}

.fit-picture {
  width: 30vw;
}

.page {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}


.info-container {
    display: flex;
    flex-direction: row;
}

body {
    font-family: "Bricolage Grotesque";
}

.info {
    margin-left: 2vw;
    width: 45%;
    text-align: justify;
}

p {
    text-indent: 2vw;
}


.footer-info {
    width: 30vw; 
    margin: 0 auto; 
}



@font-face {
  font-family: "Bricolage Grotesque"; 
  src: url("/static/fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

